<!DOCTYPE html>
<html>
<head>
  <title>RailsProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
		<div class="row">
		<div class="col-sm-12">
			<br>
			<nav  class="navbar navbar-inverse">
				<div class="container-fluid ">
					<div class="navbar-header">
						<button class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar">
							<span class="glyphicon glyphicon-align-justify"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="my-navbar">
						<ul class="nav navbar-nav">
						<% if !(user_signed_in?) %>
							<li class="ts  ">
							<%= link_to new_user_session_path, :method => :get  do %>
							<span class="glyphicon glyphicon-log-in"></span> Login
						<% end %>

							</li>
							

							<li class="ts  ">
							<%= link_to new_user_registration_path, :method => :get  do %>
							<span class="glyphicon glyphicon-registration-mark"></span> Sign Up
						<% end %>	


							</li>
						
						<% end %>	
							<% if user_signed_in? %>
							<li class="ts" ><a  href="#"> <span class="glyphicon glyphicon-home"></span>Home</a></li>

<!-- 

							<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench"></span>Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Edit Profile</a></li>
          </ul>
        </li> -->
							<!-- <li class="ts active" ><a  href="#"> <span class="glyphicon glyphicon-home"></span>Home</a></li> -->

							<li class="ts" ><a  href="#"><span class="glyphicon glyphicon-user"></span>Friends</a></li>
			

							<li class="ts" ><a  href="#"><span class="glyphicon glyphicon-list-alt"></span>Groups</a></li>
							<li class="ts" ><a  href="#"><span class="glyphicon glyphicon-list-alt"></span>Order</a></li>

						</ul>
						<ul class="nav navbar-nav navbar-right">
							
							<li class="ts" > <%= link_to destroy_user_session_path, :method => :delete  do %>
							<span class="glyphicon glyphicon-log-out"></span> LogOut
						<% end %>
 </li>
							<% end %>
							<!--<li class="ts" > <a href="#">Log Out<span class="glyphicon glyphicon-log-out"></span>
					        </a></li>-->
						</ul>
					</div>

				</div>
			</nav>

		</div>
	</div>	














<%= yield %>
</body>
</html>
